@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
 
@-webkit-keyframes fade-out {
    0% { opacity: 1.0; }
    100% { opacity: 0; }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
 
@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-out {
  animation: fade-out 0.75s;
  -webkit-animation: fade-out 0.75s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.fade-in {
  animation: fade-in 0.75s;
  -webkit-animation: fade-in 0.75s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
 
@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spin {
    animation: spin 3s infinite;
    -webkit-animation: spin 3s infinite;
}