.btn {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  box-sizing: border-box;
  font-weight: 700;
  position: relative;
  text-align: center;
  padding: 16px;
  outline: none;
  border: transparent;
  flex: 0.5 0 0%;
  margin-right: 3em;
  font-size: 38px;
}

.btn + .btn {
  margin-left: 16px;
}

#triangle.btn {
  font-size: 25px;
}

.color-prompt {
  border: 1px solid #f0f0f0;
  flex: 1;
  display: flex;
}

.color-prompt > input {
  margin: 10px auto;
  padding: 16px 8px;
  display: block;
  outline: none;
  border: none;
  font-size: 32px;
}

