:root {
  --color-black: #0d0e1f;

  --color-cream: #f6e8d7;

  --color-gray-l: #a7a9ac;
  --color-gray-m: #7d7e81;
  --color-gray-d: #58595b;
  --color-gray-xd: #424344;

  --color-green-m: #22b573;
  --color-green-d: #159658;

  --color-blue-m: #0071bc;
  --color-blue-d: #0169aa;
}