.visualizer {
  /* height: 100%;
  width: 100%; */
  /* position: absolute;
  z-index: 2000; */
}

.visualizer__container {
  position: relative;
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  padding: 16px;
  background-image: url("../img/space-bg.svg");
  background-size: cover;
  background-position: -72px 0;
}

.visualizer__controls {
    position: absolute;
    z-index: 10;
    height: calc(15vh - 32px);
    top: 85vh;
    left: 0;
    right: 0;
    display: flex;
    background-color: var(--color-blue-m);
    padding: 16px;
}

.visualizer__controls > .btn {
  background: var(--color-cream);
  box-shadow: 1px 1px 0px 2px var(--color-gray-d);
  color: black;
  padding: 1rem 1.5rem 1rem 1rem;
  border-radius: 14px;
}

.visualizer__controls > .playing {
  background: var(--color-gray-m);
  box-shadow: inset 1px 1px 0px 2px var(--color-gray-d);
}